<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | ご利用案内</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/static/guide/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-guide">
    <nav class="c-breadcrumbs">
<div class="c-breadcrumbs__contents">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><span>ご利用案内</span></li>
    </ul>
    </div>
    </nav>
    <section class="p-guide-section">
      <h2 class="u-h-lv2 u-t-center">ご利用案内</h2>
      <div class="p-guide-block">
        <div class="c-contents">
          <p class="u-fs-16">詳しいご利用方法は、ご利用マニュアルを参照していただくようお願いいたします。</p>
        </div>
        <div class="u-mt-24">
          <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="l">
            ご利用マニュアル
            <img src="/aruda/assets/images/common/ico_pdf.svg" alt="" class="u-ico" data-size="s">
          </a>
        </div>

      </div>
      <div class="p-accordion-block">
        <div class="c-accordion js-accordion">
          <div class="c-accordion__btn js-accordion-btn">
            トラクター・耕うん機
            <img src="/aruda/assets/images/common/ico_arrow_b.svg" alt="" class="u-ico" data-size="s">
          </div>
          <div class="c-accordion__cosntents js-accordion-contents">
            <div><img src="https://placehold.jp/311x176.png" alt=""></div>
            <p class="u-fs-14">購入条件を指定して希望機械を検索してください。<br>
              ご希望の機械が見つかりましたら、該当の常設展示場へご来場いただくか、電話もしくはメールにてお問い合わせ下さい。</p>
              <p class="notes">※掲載機械については、商談中・成約済の場合があります。</p>
              <p class="notes">※展示場へご来場の際は、事前に販売状況等を電話にて確認される事をお勧めします。</p>
          </div>
        </div>
      </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>