<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | 中古農機をさがす</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../../inc/ogp') %>
  <%- include('../../../inc/meta', { addJs: 'carousel'}) %>
</head>
<body>
  <%- include('../../../inc/header') %>
  <main class="l-main p-machine-detail">
    <nav class="c-breadcrumbs">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><a href="/aruda/machine/search">中古農機を絞り込む</a></li>
        <li><span>スキットステアローダー</span></li>
      </ul>
    </nav>
    <section class="p-machine-detail-section">
      <h2 class="u-h-lv2 u-t-center">スキットステアローダー</h2>
      <div class="p-machine-detail-contents">

          <div class="p-machine-detail-kv">
            <p class="p-machine-detail__state">展示会準備中</p>

            <div class="c-carousel js-carousel">
              <div class="c-carousel__item">
                <img src="https://placehold.jp/343x230.png" alt="">
              </div>
              <div class="c-carousel__item">
                <img src="https://placehold.jp/343x230.png" alt="">
              </div>
              <div class="c-carousel__item">
                <img src="https://placehold.jp/343x230.png" alt="">
              </div>
            </div>
            <p class="p-machine-detail__manufacturer">ボブキャット</p>
            <p class="p-machine-detail__name">スキットステアローダー</p>
            <p class="p-machine-detail__inquiry-no">照会No.：<span>0342117</span></p>
            <p class="p-machine-detail__price"><span>販売価格</span><span>3,850,000<span>円(税込)</span></span></p>
            <ul class="l-grid" data-col="2">
              <li>
                <div class="c-tag" data-type="state">常設</div>
              </li>
              <li>
                <div class="c-tag" data-type="state">現状</div>
              </li>
            </ul>
          </div>
          <div class="p-machine-detail-block">
            <ul>
              <li>
                <p class="p-machine-detail-block__ttl">型式</p>
                <p class="p-machine-detail-block__txt">S450</p>
              </li>
              <li>
                <p class="p-machine-detail-block__ttl">規格</p>
                <p class="p-machine-detail-block__txt">なし</p>
              </li>
              <li>
                <p class="p-machine-detail-block__ttl">年式</p>
                <p class="p-machine-detail-block__txt">2019年式</p>
              </li>
              <li>
                <p class="p-machine-detail-block__ttl">アワメーター</p>
                <p class="p-machine-detail-block__txt">617h時間</p>
              </li>
              <li>
                <p class="p-machine-detail-block__ttl">機械番号・製造番号</p>
                <p class="p-machine-detail-block__txt">AUVB 14685</p>
              </li>
              <li>
                <p class="p-machine-detail-block__ttl">取扱説明書</p>
                <p class="p-machine-detail-block__txt">有り</p>
              </li>
              <li>
                <p class="p-machine-detail-block__ttl">備考</p>
                <p class="p-machine-detail-block__txt">指定なし</p>
              </li>
              <li>
                <p class="p-machine-detail-block__ttl">最終更新日</p>
                <p class="p-machine-detail-block__txt">2024.11.20</p>
              </li>
            </ul>
          </div>

          <div class="u-mt-40">
            <button class="c-btn u-m-center" data-size="l" data-type="solid-icon-left">
              <img src="/aruda/assets/images/common/ico_favorite_w.svg" alt="" class="u-ico" data-size="s">
              お気に入りに登録
            </button>
          </div>
          <div class="u-mt-20">
            <a href="/aruda/machine/search/" class="c-btn u-m-center" data-size="l" data-type="icon-right">
              メール通知に登録
              <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
            </a>
          </div>
      </div>

      <div class="c-exhibition-hall">
        <h4 class="u-h-lv4 u-t-center">エリア・展示場情報</h4>
          <div class="c-exhibition-hall-contact">
            <p class="c-exhibition-hall-contact__ttl">展示場名</p>
            <p class="c-exhibition-hall-contact__info">〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
            <div class="c-exhibition-hall-contact__contact">
              <p class="u-fs-14">お問い合わせ</p>
              <ul class="l-grid" data-col="2">
                <li>
                  <a href="" class="c-btn" data-type="solid-icon-left" data-size="s">
                    <img src="/aruda/assets/images/common/ico_phone_w.svg" alt="" class="u-ico" data-size="s">
                    電話
                  </a>
                </li>
                <li>
                  <a href="" class="c-btn" data-type="solid-icon-left" data-size="s">
                    <img src="/aruda/assets/images/common/ico_mail_w.svg" alt="" class="u-ico" data-size="s">
                    メール
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </div>

      <div class="c-info">
        <h4 class="u-h-lv4 u-t-center">アルーダからのお知らせ</h4>
        <div class="c-info__box">
          <ul class="c-info__list">
            <li class="c-info__item">
              <div class="c-info__img">
                <img src="https://placehold.jp/88x50.png" alt="">
              </div>
              <div class="c-info__contents">
                <p class="c-info__date">2000.00.00</p>
                <ul class="c-tag-list">
                  <li class="c-tag">お知らせ</li>
                  <li class="c-tag">フェア</li>
                  <li class="c-tag">キャンペーン</li>
                </ul>
                <p class="c-info__shop">アルーダ士別</p>
                <p class="c-info__ttl">冬季格納について冬季格納について冬季格納について</p>
              </div>
            </li>
            <li class="c-info__item">
              <div class="c-info__img">
                <img src="https://placehold.jp/88x50.png" alt="">
              </div>
              <div class="c-info__contents">
                <p class="c-info__date">2000.00.00</p>
                <ul class="c-tag-list">
                  <li class="c-tag">お知らせ</li>
                  <li class="c-tag">フェア</li>
                  <li class="c-tag">キャンペーン</li>
                </ul>
                <p class="c-info__shop">アルーダ士別</p>
                <p class="c-info__ttl">冬季格納について冬季格納について冬季格納について</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-info">
        <h4 class="u-h-lv4 u-t-center">展示場からのお知らせ</h4>
        <div class="c-info__box">
          <ul class="c-info__list">
            <li class="c-info__item">
              <div class="c-info__img">
                <img src="https://placehold.jp/88x50.png" alt="">
              </div>
              <div class="c-info__contents">
                <p class="c-info__date">2000.00.00</p>
                <ul class="c-tag-list">
                  <li class="c-tag">お知らせ</li>
                  <li class="c-tag">フェア</li>
                  <li class="c-tag">キャンペーン</li>
                </ul>
                <p class="c-info__shop">アルーダ士別</p>
                <p class="c-info__ttl">冬季格納について冬季格納について冬季格納について</p>
              </div>
            </li>
            <li class="c-info__item">
              <div class="c-info__img">
                <img src="https://placehold.jp/88x50.png" alt="">
              </div>
              <div class="c-info__contents">
                <p class="c-info__date">2000.00.00</p>
                <ul class="c-tag-list">
                  <li class="c-tag">お知らせ</li>
                  <li class="c-tag">フェア</li>
                  <li class="c-tag">キャンペーン</li>
                </ul>
                <p class="c-info__shop">アルーダ士別</p>
                <p class="c-info__ttl">冬季格納について冬季格納について冬季格納について</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="p-machine-detail-btn">
        <a href="" class="c-btn u-m-center" data-type="icon-left" data-size="l">
          <img src="/aruda/assets/images/common/ico_left_g.svg" alt="" class="u-ico" data-size="s">
          検索結果に戻る
        </a>
      </div>
    </section>
    <aside class="c-hokuren-bnr">
      <a href="https://www.hokuren.or.jp/" class="c-bnr"><img src="/aruda/assets/images/top/bnr_01.png" alt=""></a>
      <a href="http://www.hokuren-ss.jp/" class="c-bnr"><img src="/aruda/assets/images/top/bnr_02.png" alt=""></a>
      <a href="https://www.hokuren.or.jp/kouho/ap/" class="c-bnr"><img src="/aruda/assets/images/top/bnr_03.png" alt=""></a>
    </aside>
  </main>
  <%- include('../../../inc/footer') %>
  <%- include('../../../inc/fixed-menu') %>
  <%- include('../../../inc/menu-modal') %>
  <%- include('../../../inc/membership-modal') %>
</body>
</html>