<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | トップページ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/mypage/mail_notification_settings/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-mail_notification_settings">
    <nav class="c-breadcrumbs">
<div class="c-breadcrumbs__contents">
        <ul>
            <li><a href="/aruda/">ホーム</a></li>
            <li><a href="/aruda/mypage/">ホーム</a></li>
            <li><span>メール通知設定</span></li>
        </ul>
        </div>
    </nav>
    <section class="p-mail_notification_settings-section">
      <h2 class="u-h-lv2 u-t-center">メール通知設定</h2>
      <div class="c-contents" data-type="mypage">
        <div class="c-contents__item">
          <%- include('../../inc/mypage-block') %>
        </div>
        <div class="c-contents__item">

          <div class="p-mail_notification_settings-contents">
            <h3 class="u-h-lv3 u-t-center">通知設定</h3>
            <p class="u-fs-14 u-mb-8">お気に入り常設展示場からの新しいお知らせ情報や、買いたい中古農機の登録情報、特定中古農機の掲載状況をメール・LINEで通知します。</p>
            <p class="u-fs-14 u-mb-24">アルーダのLINE公式アカウントを友だち追加していない場合、マイページの通知設定や会員登録・変更でLINE通知をONに設定しても、LINEメッセージが届きません。</p>
            <div class="c-mail-setting">
              <h4 class="u-h-lv4">お気に入り常設展示場</h4>
              <ul class="c-mail-setting__list">
                <li>
                  <span class="u-fs-14">メール</span>
                  <div class="c-form-switch">
                    <input type="checkbox" id="switch1">
                    <label for="switch1"></label>
                    <div class="c-form-switch__swImg"></div>
                  </div>
                </li>
                <li>
                  <span class="u-fs-14">LINE</span>
                  <div class="c-form-switch">
                    <input type="checkbox" id="switch2">
                    <label for="switch2"></label>
                    <div class="c-form-switch__swImg"></div>
                  </div>
                </li>
              </ul>
              <p class="u-fs-14 u-mb-16">お気に入り常設展示場からの新しいお知らせ情報が登録された場合にメール・LINEでお知らせします。</p>

              <div class="u-tag-block">
                <ul>
                  <li>アルーダ〇〇〇〇〇〇</li>
                  <li>アルーダ〇〇〇〇〇〇</li>
                </ul>
              </div>
              
              <a href="/aruda/mypage/mail_notification_settings/" class="c-btn u-m-center" data-type="icon-right" data-size="s">
                設定を変更
                <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
              </a>
            </div>

            <div class="c-mail-setting">
              <h4 class="u-h-lv4">買いたい情報</h4>
              <ul class="c-mail-setting__list">
                <li>
                  <span class="u-fs-14">メール</span>
                  <div class="c-form-switch">
                    <input type="checkbox" id="switch3">
                    <label for="switch3"></label>
                    <div class="c-form-switch__swImg"></div>
                  </div>
                </li>
                <li>
                  <span class="u-fs-14">LINE</span>
                  <div class="c-form-switch">
                    <input type="checkbox" id="switch4">
                    <label for="switch4"></label>
                    <div class="c-form-switch__swImg"></div>
                  </div>
                </li>
              </ul>
              <p class="u-fs-14 u-mb-16">買いたい中古農機の登録情報が新しく登録された場合にメール・LINEでお知らせします。</p>
              <p class="c-mail-setting__count">現在の設定<span><span>0</span>件</span></p>
              <a href="/aruda/mypage/mail_notification_settings/" class="c-btn u-m-center" data-type="icon-right" data-size="s">
                設定を変更
                <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
              </a>
            </div>

            <div class="c-mail-setting">
              <h4 class="u-h-lv4">中古農機の掲載状況</h4>
              <ul class="c-mail-setting__list">
                <li>
                  <span class="u-fs-14">メール</span>
                  <div class="c-form-switch">
                    <input type="checkbox" id="switch5">
                    <label for="switch5"></label>
                    <div class="c-form-switch__swImg"></div>
                  </div>
                </li>
                <li>
                  <span class="u-fs-14">LINE</span>
                  <div class="c-form-switch">
                    <input type="checkbox" id="switch6">
                    <label for="switch6"></label>
                    <div class="c-form-switch__swImg"></div>
                  </div>
                </li>
              </ul>
              <p class="u-fs-14">お気に入りの中古農機の掲載状況が変更された場合にメール・LINEでお知らせします。</p>
            </div>
          </div>

        </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>