<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | トップページ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/mypage/notification_list/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-notification_list">
    <nav class="c-breadcrumbs">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><a href="/aruda/mypage/">マイページ</a></li>
        <li><span>お知らせ一覧</span></li>
      </ul>
    </nav>
    <section class="p-notification_list-section">
      <h2 class="u-h-lv2 u-t-center">お知らせ一覧</h2>
      <div class="c-contents" data-type="mypage">
        <div class="c-contents__item">
          <%- include('../../inc/mypage-block', { current: 'notification'}) %>
        </div>
        <div class="c-contents__item">
          <div class="p-notification_list-info">
            <h3 class="u-h-lv3 u-t-center">登録した展示場からの<br>お知らせ</h3>
            <div class="p-notification_list-info__box">
              <p class="p-notification_list-info__no-message">現在、お知らせはありません。</p>
            </div>
          </div>

          <div class="c-mypage-btn-block">
            <div class="c-mypage-btn-block__inner">
              <h4 class="u-h-lv4 u-t-center">
                マイページ情報
              </h4>
              <a href="/aruda/mypage/mail_notification_settings/" class="c-btn u-m-center" data-type="icon-right" data-size="l">
                メール通知設定
                <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
              </a>
              <a href="/aruda/mypage/customer/" class="c-btn u-m-center" data-type="icon-right" data-size="l">
                会員情報の編集
                <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
              </a>
            </div>
          </div>
        </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>