<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | 機種お問い合わせ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../../inc/ogp') %>
  <%- include('../../../inc/meta') %>
</head>
<body>
  <%- include('../../../inc/header') %>
  <main class="l-main p-machine-inquiry">
    <nav class="c-breadcrumbs">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><a href="/aruda/machine/search/">中古農機をさがす</a></li>
        <li><a href="aruda/machine/detail/000000/">中古農機情報詳細</a></li>
        <li><span>機種お問い合わせ</span></li>
      </ul>
    </nav>
    <section class="p-machine-inquiry-section">
      <h2 class="u-h-lv2 u-t-center">確認画面</h2>
      <div class="p-machine-inquiry-contents u-pb-80">
        <form method="post" action="/aruda/machine/confirm/000000/">
          <div class="c-detail-block" data-type="border">
            <ul>
              <li>
                <p class="c-detail-block__ttl">問い合わせ先</p>
                <p class="c-detail-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇</p>
              </li>
              <li>
                <p class="c-detail-block__ttl">照会No.</p>
                <p class="c-detail-block__txt">0000000</p>
              </li>
              <li>
                <p class="c-detail-block__ttl">機械名</p>
                <p class="c-detail-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇</p>
              </li>
              <li>
                <p class="c-detail-block__ttl">銘柄名</p>
                <p class="c-detail-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇</p>
              </li>
              <li>
                <p class="c-detail-block__ttl">価格</p>
                <p class="c-detail-block__txt">0,000円（税込）</p>
              </li>
              <li>
                <p class="c-detail-block__ttl">お名前<span class="u-f-required">*</span></p>
                <p class="c-detail-block__txt">〇〇〇〇〇〇〇〇</p>
              </li>
              <li>
                <p class="c-detail-block__ttl">生年月日<span class="u-f-required">*</span></p>
                <p class="c-detail-block__txt">〇〇〇〇〇〇〇〇</p>
              </li>
              <li>
                <p class="c-detail-block__ttl">組合員区分<span class="u-f-required">*</span></p>
                <p class="c-detail-block__txt">〇〇〇〇〇〇〇〇</p>
              </li>
              <li>
                <p class="c-detail-block__ttl">電話番号（いずれかご入力ください）<span class="u-f-required">*</span></p>
                <p class="c-detail-block__txt">〇〇〇〇〇〇〇〇</p>
              </li>
              <li>
                <p class="c-detail-block__ttl">FAX></p>
                <p class="c-detail-block__txt">〇〇〇〇〇〇〇〇</p>
              </li>
              <li>
                <p class="c-detail-block__ttl">メールアドレス<span class="u-f-required">*</span></p>
                <p class="c-detail-block__txt">〇〇〇〇〇〇〇〇</p>
              </li>
              <li>
                <p class="c-detail-block__ttl">お問い合わせ内容<span class="u-f-required">*</span></p>
                <p class="c-detail-block__txt">〇〇〇〇〇〇〇〇</p>
              </li>
            </ul>
            <div class="u-mt-40">
              <button class="c-btn u-m-center" data-type="solid-icon-right" data-size="l">
                送信する
                <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
              </button>
            </div>
            <div class="u-mt-24">
              <a href="/aruda/machine/inquiry/000000/" class="c-btn u-m-center" data-type="icon-left" data-size="l">
                <img src="/aruda/assets/images/common/ico_left_g.svg" alt="" class="u-ico" data-size="s">
                修正する
              </a>
            </div>
          </div>
      </form>
      </div>
    </section>
  </main>
  <%- include('../../../inc/footer') %>
  <%- include('../../../inc/fixed-menu') %>
  <%- include('../../../inc/menu-modal') %>
  <%- include('../../../inc/membership-modal') %>
</body>
</html>