<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | 新着農機・おすすめ農機一覧</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../inc/ogp') %>
  <%- include('../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/inquiry_guide/_page.css">
</head>
<body>
  <%- include('../inc/header-login') %>
  <main class="l-main p-inquiry_guide">
    <nav class="c-breadcrumbs">
      <div class="c-breadcrumbs__contents">
            <ul>
              <li><a href="/aruda/">ホーム</a></li>
              <li><span>お問い合わせ</span></li>
          </ul>
        </div>
      </nav>

    <section class="p-inquiry_guide-section">
        <h2 class="u-h-lv2 u-t-center">全体のお問い合わせ</h2>
        <div class="p-inquiry_guide-block">
          <p class="u-fs-16">機械詳細や商談等のお問い合せは、中古農機情報詳細ページから個別にお問い合わせください。</p>
          <p class="u-fs-16">その他の展示場へのお問い合せは、<a href="" class="u-link">常設展示場ページ</a>よりお問い合わせください。</p>
        </div>
        <div class="u-mt-40">
          <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="l">
            その他のお問い合わせ
            <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
          </a>
        </div>
        <div class="u-mt-20">
          <a href="/" class="c-btn u-m-center" data-type="icon-left" data-size="l">
            <img src="/aruda/assets/images/common/ico_left_g.svg" alt="" class="u-ico" data-size="s">
            戻る
          </a>
        </div>
    </section>


  </main>
  <%- include('../inc/footer') %>
  <%- include('../inc/fixed-menu') %>
  <%- include('../inc/menu-modal-login') %>
</body>
</html>