<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | アルーダからのお知らせ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/notification/aruda/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-notification-aruda">
    <nav class="c-breadcrumbs">
<div class="c-breadcrumbs__contents">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><span>アルーダからのお知らせ一覧</span></li>
    </ul>
    </div>
    </nav>

    <section class="p-notification-aruda-section">
      <h2 class="u-h-lv2 u-t-center">アルーダからの<br>
        お知らせ一覧</h2>
        <div class="p-notification-aruda-block">
          <div class="c-contents">

          <ul class="c-tab-list" data-col="4" data-current="0">
            <li><a href="#" class="is-current">すべて</a></li>
            <li><a href="#" >お知らせ</a></li>
            <li><a href="#" >イベント</a></li>
            <li><a href="#">キャンペーン</a></li>
          </ul>
          <div class="c-form__select">
            <select name="">
              <option value="" disabled selected>過去の記事をさがす</option>
              <option value="1">ダミー</option>
              <option value="2">ダミー</option>
              <option value="3">ダミー</option>
            </select>
          </div>

          <div class="c-info">
            <div class="c-info__box">
              <ul class="c-info__list">
                <li class="c-info__item">
                  <div class="c-info__img">
                    <img src="https://placehold.jp/88x50.png" alt="">
                  </div>
                  <div class="c-info__contents">
                    <p class="c-info__date">2000.00.00</p>
                    <ul class="c-tag-list">
                      <li class="c-tag">お知らせ</li>
                      <li class="c-tag">フェア</li>
                      <li class="c-tag">キャンペーン</li>
                    </ul>
                    <p class="c-info__shop">アルーダ士別</p>
                    <p class="c-info__ttl">冬季格納について冬季格納について冬季格納について</p>
                  </div>
                </li>
                <li class="c-info__item">
                  <div class="c-info__img">
                    <img src="https://placehold.jp/88x50.png" alt="">
                  </div>
                  <div class="c-info__contents">
                    <p class="c-info__date">2000.00.00</p>
                    <ul class="c-tag-list">
                      <li class="c-tag">お知らせ</li>
                      <li class="c-tag">フェア</li>
                      <li class="c-tag">キャンペーン</li>
                    </ul>
                    <p class="c-info__shop">アルーダ士別</p>
                    <p class="c-info__ttl">冬季格納について冬季格納について冬季格納について</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="c-pagenation">
              <a href="#" class="c-pagenation__prev">
                <img src="/aruda/assets/images/common/ico_left_g.svg" alt="" class="u-ico" data-size="s">
              </a>
              <ul>
                <li>
                  <a href="#" class="c-pagenation__num">
                    <span>1</span>
                  </a>
                </li>
                <li>
                  <span>...</span>
                </li>
                <li>
                  <a href="#" class="c-pagenation__num">
                    <span>5</span>
                  </a>
                </li>
                <li>
                  <span class="c-pagenation__num is-current">
                    <span>6</span>
                  </span>
                </li>
                <li>
                  <a href="#" class="c-pagenation__num">
                    <span>7</span>
                  </a>
                </li>
                <li>
                  <span>...</span>
                </li>
                <li>
                  <a href="#" class="c-pagenation__num">
                    <span>8</span>
                  </a>
                </li>
              </ul>
              <a href="#" class="c-pagenation__next">
                <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
              </a>
            </div>
          </div>
        </div>

        </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>