<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | ホクレン油機サービスの特選中古車サイトへ遷移する中間ページ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/static/e-yuki/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-e-yuki">
    <nav class="c-breadcrumbs">
<div class="c-breadcrumbs__contents">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><span>ホクレン油機サービスの特選中古車サイトへ遷移する中間ページ</span></li>
    </ul>
    </div>
    </nav>
    <section class="p-e-yuki-section">
      <h2 class="u-h-lv2 u-t-center">ホクレン油機サービスの特選中古車サイトへ遷移する中間ページ</h2>
      <div class="p-e-yuki-block">
        <div class="c-contents">
          <div class="c-alert-block">
            <p class="c-alert-block__ttl">ホクレン油機サービスの特選中古車サイトへ移動します。</p>
            <p class="c-alert-block__txt">https://www.goo-net.com/php/search/summary.php</p>
            <p class="c-alert-block__txt">＜ご注意ください＞<br>
            ・ここから先は（株）ホクレン油機サービスのホームページとなるため、アルーダのルール適用外となります。<br>
            ・商談希望のお車がありましたら、最寄りのJA、または（株）ホクレン油機サービスの在庫店舗へお問合わせ下さい。</p>
            <div class="u-mt-20">
              <a href="https://www.goo-net.com/php/search/summary.php" target="_blank" class="c-btn u-m-center" data-type="solid" data-size="l">
                承諾する
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>