<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | トップページ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/mypage/search_condition/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-search_condition">
    <nav class="c-breadcrumbs">
<div class="c-breadcrumbs__contents">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><a href="/aruda/mypage/">マイページ</a></li>
        <li><span>保存した検索条件</span></li>
      </ul>
      </div>
    </nav>
    <section class="p-search_condition-section">
      <h2 class="u-h-lv2 u-t-center">保存した検索条件</h2>
      <div class="c-contents" data-type="mypage">
        <div class="c-contents__item">
          <%- include('../../inc/mypage-block', { current: 'search'}) %>
        </div>
        <div class="c-contents__item">
          <div class="p-search_condition-keep">
            <h3 class="u-h-lv3 u-t-center">或田さんの保存した<br>検索条件</h3>
            <div class="c-keep-block">
              <div class="c-keep-block__contents">
                <dl class="c-keep-block__list">
                  <dt>機種</dt>
                  <dd>耕起整地砕土 全ての機種</dd>
                  <dt>機械</dt>
                  <dd>機械名</dd>
                  <dt>銘柄</dt>
                  <dd>アーサーリフト</dd>
                  <dt>エリア・展示場</dt>
                  <dd>アルーダ函館、アルーダ日高西部、アルーダＪＡむかわ、アルーダＪＡとうや湖</dd>
                  <dt>キーワード</dt>
                  <dd>指定なし</dd>
                  <dt>価格帯</dt>
                  <dd>100,000円～上限なし</dd>
                  <dt>その他条件</dt>
                  <dd>指定なし</dd>
                </dl>
                <a href="#" class="c-btn u-m-center" data-type="delete" data-size="s">削除</a>
              </div>
              <div class="c-more-block js-more-block">
                <div class="c-more-block__contents">
                  <%- include('../../inc/detail-search', { map: 1, btn: 1}) %>
                </div>
                <a href="#" class="c-more-block__btn js-more-btn"><span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span>絞り込みの検索条件を表示する</a>
              </div>
            </div>
            <div class="c-keep-block">
              <div class="c-keep-block__contents">
                <dl class="c-keep-block__list">
                  <dt>機種</dt>
                  <dd>耕起整地砕土 全ての機種</dd>
                  <dt>機械</dt>
                  <dd>機械名</dd>
                  <dt>銘柄</dt>
                  <dd>アーサーリフト</dd>
                  <dt>エリア・展示場</dt>
                  <dd>アルーダ函館、アルーダ日高西部、アルーダＪＡむかわ、アルーダＪＡとうや湖</dd>
                  <dt>キーワード</dt>
                  <dd>指定なし</dd>
                  <dt>価格帯</dt>
                  <dd>100,000円～上限なし</dd>
                  <dt>その他条件</dt>
                  <dd>指定なし</dd>
                </dl>
                <a href="#" class="c-btn u-m-center" data-type="delete" data-size="s">削除</a>
              </div>
              <div class="c-more-block js-more-block">
                <div class="c-more-block__contents">
                  <%- include('../../inc/detail-search', { map: 2}) %>
                </div>
                <a href="#" class="c-more-block__btn js-more-btn"><span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span>絞り込みの検索条件を表示する</a>
              </div>
            </div>
          </div>

        </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>