<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中ログイン | 中古農機情報サイト アルーダ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/auth/login/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-login">
    <nav class="c-breadcrumbs">
<div class="c-breadcrumbs__contents">
        <ul>
            <li><a href="/">ホーム</a></li>
            <li><span>ログイン</span></li>
        </ul>
        </div>
    </nav>
    <section class="p-login-section">
      <h2 class="u-h-lv2 u-t-center">ログイン</h2>
        <div class="p-login-contents">
            <div class="c-contents">
                <form action="/aruda/auth/login" method="POST" class="c-form">
                    <div class="c-form">
                        <div class="u-t-center">
                            <input type="image" src="/aruda/assets/images/common/btn_line_login.svg" alt="LINEでログイン">
                        </div>
                        <p class="c-alert-txt">
                            <img src="/aruda/assets/images/common/ico_error.svg" alt="error" class="u-ico" data-size="s">
                            入力エラー  赤い文字の項目をご確認ください。 
                        </p>
                        <h3 class="u-h-lv4 u-t-center u-mb-16">メールアドレスでログイン</h3>
                        <p class="u-fs-14 u-mb-24">登録時に入力されたメールアドレスとパスワードでログインしてください。</p>

                        <label>
                            <p class="c-form__ttl u-mb-8">メールアドレス</p>
                            <input type="email" name="cu_mail_address" class="c-form__text c-form__error" placeholder="メールアドレスを記入してください">
                            <p class="u-error-message">メールアドレスは必須項目です</p>
                        </label>
                        <label>
                            <p class="c-form__ttl u-mb-8">パスワード</p>
                            <input type="password" name="password" class="c-form__text c-form__error" placeholder="パスワードを記入してください">
                            <p class="u-error-message">パスワードは必須項目です</p>
                        </label>
                        <p class="u-f-notes u-mt-16">※パスワードを忘れた方は<a href="/aruda/password/email" class="u-link">こちら</a>からパスワードの再発行を行ってください。</p>

                        <div class="u-mt-32">
                            <a href="/" class="c-btn u-m-center u-t-center" data-type="solid-icon-right" data-size="l">
                                メールアドレスで<br>ログイン
                                <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                            </a>
                            <a href="/" class="c-btn u-m-center u-mt-32" data-type="line" data-size="l">
                                <img src="/aruda/assets/images/common/ico_line.svg" alt="" class="u-ico" data-size="l">
                                LINE連携する
                                <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                            </a>
                        </div>
                    </div>

                </form>
            </div>
            <div class="p-login-signup">
                <div class="c-contents">
                    <p class="u-fs-16">利用登録が済んでいない方はこちらから新規利用登録してください。</p>
                    <a href="/aruda/newcustomer" class="c-btn u-mt-32 u-m-center" data-type="icon-right" data-size="l">
                        新規登録
                        <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
                    </a>
                </div>
            </div>
        </div>
    </section>
  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>