<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中ログイン | 中古農機情報サイト アルーダ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-login">
    <nav class="c-breadcrumbs">
        <ul>
            <li><a href="/">ホーム</a></li>
            <li><span>ログイン</span></li>
        </ul>
    </nav>
    <section class="p-login-contents">
      <h2 class="u-h-lv2 u-t-center">ログイン</h2>
        <form action="/" method="get" class="c-form">
            <a href="/" class="c-btn u-m-center" data-type="line" data-size="l">
                <img src="/aruda/assets/images/common/ico_line.svg" alt="" class="u-ico" data-size="l">
                LINEでログイン
                <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
              </a>
        </form>
    </section>




    <section class="p-top-search">
      <h2 class="u-h-lv2 u-t-center">
        <img src="/aruda/assets/images/common/ico_search.svg" alt="かんたん検索" class="u-ico">かんたん検索
      </h2>
      <form action="/aruda/" method="get" class="c-form">
        <input type="text" value="" name="" class="c-form__text" placeholder="フリーワードで検索">
        <label>
          <div class="c-form__ttl">
            <img src="/aruda/assets/images/common/ico_machinery.svg" alt="農機" class="u-ico">機種
          </div>
          <div class="c-form__select">
            <select name="">
              <option value="" disabled selected>選択してください</option>
              <option value="1">ダミー</option>
              <option value="2">ダミー</option>
              <option value="3">ダミー</option>
            </select>
          </div>
        </label>
        <label>
          <div class="c-form__ttl">
            <img src="/aruda/assets/images/common/ico_region.svg" alt="地域" class="u-ico">地域
          </div>
          <div class="c-form__select">
            <select name="">
              <option value="" disabled selected>選択してください</option>
              <option value="1">ダミー</option>
              <option value="2">ダミー</option>
              <option value="3">ダミー</option>
            </select>
          </div>
        </label>
        <label>
          <div class="c-form__ttl">
            <img src="/aruda/assets/images/common/ico_budget.svg" alt="予算" class="u-ico">予算
          </div>
          <div class="c-form__budget">
            <div>
              <input type="number" value="" name="" class="c-form__text">
            </div>
            <span>円</span>
            <span>〜</span>
            <div>
              <input type="number" value="" name="" class="c-form__text">
            </div>
            <span>円</span>
          </div>
        </label>
        <div class="c-form__submit">
          <button class="c-btn" data-type="solid-icon" data-size="l">
            <img src="/aruda/assets/images/common/ico_search_w.svg" alt="" class="u-ico" data-size="s">
            かんたん検索
            <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
          </button>
        </div>
      </form>
    </section>
    <section class="p-top-machinery">
      <h2 class="u-h-lv2 u-t-center">
        <img src="/aruda/assets/images/common/ico_machinery.svg" alt="かんたん検索" class="u-ico">掲載農機
      </h2>
      <div class="c-tab js-tab">
        <ul class="c-tab-list js-tab-list" data-col="2" data-current="0">
          <li><a href="#" class="js-tab-trigger is-current">新着</a></li>
          <li><a href="#" class="js-tab-trigger">おすすめ</a></li>
        </ul>
        <div class="c-tab__contents">
          <div class="c-card-block js-tab-contents is-current">
              <div class="l-grid" data-col="2">
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ブルーヒーター</p>
                  <p class="c-card__id">KBR-173</p>
                  <p class="c-card__manufacturer">サンポット</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ岩見沢</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ツインレーキ</p>
                  <p class="c-card__id">TGR7310</p>
                  <p class="c-card__manufacturer">スター</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ日高中部</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ツインレーキ</p>
                  <p class="c-card__id">TGR7310</p>
                  <p class="c-card__manufacturer">スター</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ日高中部</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ブルーヒーター</p>
                  <p class="c-card__id">KBR-173</p>
                  <p class="c-card__manufacturer">サンポット</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ岩見沢</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ブルーヒーター</p>
                  <p class="c-card__id">KBR-173</p>
                  <p class="c-card__manufacturer">サンポット</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ岩見沢</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ツインレーキ</p>
                  <p class="c-card__id">TGR7310</p>
                  <p class="c-card__manufacturer">スター</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ日高中部</p>
                </a>
              </div>
              <div class="u-mt-40">
                <a href="/" class="c-btn u-m-center" data-type="solid-icon-left" data-size="l">
                  一覧を見る
                  <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                </a>
              </div>
              <div class="u-mt-20">
                <a href="/" class="c-btn u-m-center" data-type="icon-left" data-size="l">
                  中古トラック情報を見る
                  <img src="/aruda/assets/images/common/ico_window_g.svg" alt="" class="u-ico" data-size="s">
                </a>
              </div>
          </div>
          <div class="c-card-block js-tab-contents">
            <div class="l-grid" data-col="2">
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
            </div>
            <div class="u-mt-40">
              <a href="/" class="c-btn u-m-center" data-type="solid-icon-left" data-size="l">
                一覧を見る
                <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
              </a>
            </div>
            <div class="u-mt-20">
              <a href="/" class="c-btn u-m-center" data-type="icon-left" data-size="l">
                中古トラック情報を見る
                <img src="/aruda/assets/images/common/ico_window_g.svg" alt="" class="u-ico" data-size="s">
              </a>
            </div>
          </div>
        </div>
    </div>
    </section>
    <section class="p-top-history">
      <h2 class="u-h-lv2 u-t-center">
        閲覧履歴
      </h2>
      <div class="l-grid" data-col="2">
        <a href="/" class="c-card">
          <img src="https://placehold.jp/167x125.png" alt="">
          <p class="c-card__name">ブルーヒーター</p>
          <p class="c-card__id">KBR-173</p>
          <p class="c-card__manufacturer">サンポット</p>
          <p class="c-card__price">30,000,000<span>円(税込)</span></p>
          <p class="c-card__shop">アルーダ岩見沢</p>
        </a>
        <a href="/" class="c-card">
          <img src="https://placehold.jp/167x125.png" alt="">
          <p class="c-card__name">ツインレーキ</p>
          <p class="c-card__id">TGR7310</p>
          <p class="c-card__manufacturer">スター</p>
          <p class="c-card__price">30,000,000<span>円(税込)</span></p>
          <p class="c-card__shop">アルーダ日高中部</p>
        </a>
      </div>
      <div class="c-more-block js-more-block">
        <div class="c-more-block__contents">
          <div class="l-grid" data-col="2">
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ブルーヒーター</p>
              <p class="c-card__id">KBR-173</p>
              <p class="c-card__manufacturer">サンポット</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ岩見沢</p>
            </a>
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ツインレーキ</p>
              <p class="c-card__id">TGR7310</p>
              <p class="c-card__manufacturer">スター</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ日高中部</p>
            </a>
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ツインレーキ</p>
              <p class="c-card__id">TGR7310</p>
              <p class="c-card__manufacturer">スター</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ日高中部</p>
            </a>
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ブルーヒーター</p>
              <p class="c-card__id">KBR-173</p>
              <p class="c-card__manufacturer">サンポット</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ岩見沢</p>
            </a>
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ブルーヒーター</p>
              <p class="c-card__id">KBR-173</p>
              <p class="c-card__manufacturer">サンポット</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ岩見沢</p>
            </a>
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ツインレーキ</p>
              <p class="c-card__id">TGR7310</p>
              <p class="c-card__manufacturer">スター</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ日高中部</p>
            </a>
          </div>
        </div>
        <a href="#" class="c-more-block__btn js-more-btn">さらに表示する<span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span></a>
      </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>