<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>EJS</title>
  <meta name="description" content="description">
  <%- include('./inc/ogp') %>
  <%- include('./inc/meta') %>
</head>
<body>
  <%- include('./inc/header-login') %>
  <main class="l-main p-top">
    <img src="https://placehold.jp/375x1000.png" alt="ダミー">
  </main>
  <%- include('./inc/footer') %>
  <%- include('./inc/fixed-menu') %>
</body>
</html>