<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | 新着農機・おすすめ農機一覧</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../inc/ogp') %>
  <%- include('../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/new_recommend_list/_page.css">
</head>
<body>
  <%- include('../inc/header-login') %>
  <main class="l-main p-new_recommend_list">
    <nav class="c-breadcrumbs">
      <div class="c-breadcrumbs__contents">
            <ul>
              <li><a href="/aruda/">ホーム</a></li>
              <li><span>新着農機・おすすめ農機一覧</span></li>
          </ul>
        </div>
      </nav>

    <section class="p-new_recommend_list-section">
        <h2 class="u-h-lv2 u-t-center">新着農機・<br>
          おすすめ農機一覧</h2>
      <div class="p-new_recommend_list-machinery">
        <h3 class="u-h-lv2 u-t-center">
          <img src="/aruda/assets/images/common/ico_machinery.svg" alt="かんたん検索" class="u-ico">掲載農機
        </h3>
        <div class="c-tab js-tab">
          <ul class="c-tab-list js-tab-list" data-col="2" data-current="0">
            <li><a href="#" class="js-tab-trigger is-current">新着</a></li>
            <li><a href="#" class="js-tab-trigger">おすすめ</a></li>
          </ul>
          <div class="c-tab__contents">
            <div class="c-card-block js-tab-contents is-current">
                <div class="l-grid" data-col="2">
                  <a href="/" class="c-card">
                    <img src="https://placehold.jp/167x125.png" alt="">
                    <p class="c-card__name">ブルーヒーター</p>
                    <p class="c-card__id">KBR-173</p>
                    <p class="c-card__manufacturer">サンポット</p>
                    <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                    <p class="c-card__shop">アルーダ岩見沢</p>
                  </a>
                  <a href="/" class="c-card">
                    <img src="https://placehold.jp/167x125.png" alt="">
                    <p class="c-card__name">ツインレーキ</p>
                    <p class="c-card__id">TGR7310</p>
                    <p class="c-card__manufacturer">スター</p>
                    <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                    <p class="c-card__shop">アルーダ日高中部</p>
                  </a>
                  <a href="/" class="c-card">
                    <img src="https://placehold.jp/167x125.png" alt="">
                    <p class="c-card__name">ツインレーキ</p>
                    <p class="c-card__id">TGR7310</p>
                    <p class="c-card__manufacturer">スター</p>
                    <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                    <p class="c-card__shop">アルーダ日高中部</p>
                  </a>
                  <a href="/" class="c-card">
                    <img src="https://placehold.jp/167x125.png" alt="">
                    <p class="c-card__name">ブルーヒーター</p>
                    <p class="c-card__id">KBR-173</p>
                    <p class="c-card__manufacturer">サンポット</p>
                    <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                    <p class="c-card__shop">アルーダ岩見沢</p>
                  </a>
                  <a href="/" class="c-card">
                    <img src="https://placehold.jp/167x125.png" alt="">
                    <p class="c-card__name">ブルーヒーター</p>
                    <p class="c-card__id">KBR-173</p>
                    <p class="c-card__manufacturer">サンポット</p>
                    <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                    <p class="c-card__shop">アルーダ岩見沢</p>
                  </a>
                  <a href="/" class="c-card">
                    <img src="https://placehold.jp/167x125.png" alt="">
                    <p class="c-card__name">ツインレーキ</p>
                    <p class="c-card__id">TGR7310</p>
                    <p class="c-card__manufacturer">スター</p>
                    <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                    <p class="c-card__shop">アルーダ日高中部</p>
                  </a>
                  <a href="/" class="c-card">
                    <img src="https://placehold.jp/167x125.png" alt="">
                    <p class="c-card__name">ブルーヒーター</p>
                    <p class="c-card__id">KBR-173</p>
                    <p class="c-card__manufacturer">サンポット</p>
                    <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                    <p class="c-card__shop">アルーダ岩見沢</p>
                  </a>
                  <a href="/" class="c-card">
                    <img src="https://placehold.jp/167x125.png" alt="">
                    <p class="c-card__name">ツインレーキ</p>
                    <p class="c-card__id">TGR7310</p>
                    <p class="c-card__manufacturer">スター</p>
                    <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                    <p class="c-card__shop">アルーダ日高中部</p>
                  </a>
                </div>
                <div class="c-pagenation">
                  <a href="#" class="c-pagenation__prev">
                    <img src="/aruda/assets/images/common/ico_left_g.svg" alt="" class="u-ico" data-size="s">
                  </a>
                  <ul>
                    <li>
                      <a href="#" class="c-pagenation__num">
                        <span>1</span>
                      </a>
                    </li>
                    <li>
                      <span>...</span>
                    </li>
                    <li>
                      <a href="#" class="c-pagenation__num">
                        <span>5</span>
                      </a>
                    </li>
                    <li>
                      <span class="c-pagenation__num is-current">
                        <span>6</span>
                      </span>
                    </li>
                    <li>
                      <a href="#" class="c-pagenation__num">
                        <span>7</span>
                      </a>
                    </li>
                    <li>
                      <span>...</span>
                    </li>
                    <li>
                      <a href="#" class="c-pagenation__num">
                        <span>8</span>
                      </a>
                    </li>
                  </ul>
                  <a href="#" class="c-pagenation__next">
                    <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
                  </a>
                </div>
            </div>
            <div class="c-card-block js-tab-contents">
              <div class="l-grid" data-col="2">
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ブルーヒーター</p>
                  <p class="c-card__id">KBR-173</p>
                  <p class="c-card__manufacturer">サンポット</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ岩見沢</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ツインレーキ</p>
                  <p class="c-card__id">TGR7310</p>
                  <p class="c-card__manufacturer">スター</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ日高中部</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ツインレーキ</p>
                  <p class="c-card__id">TGR7310</p>
                  <p class="c-card__manufacturer">スター</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ日高中部</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ブルーヒーター</p>
                  <p class="c-card__id">KBR-173</p>
                  <p class="c-card__manufacturer">サンポット</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ岩見沢</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ブルーヒーター</p>
                  <p class="c-card__id">KBR-173</p>
                  <p class="c-card__manufacturer">サンポット</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ岩見沢</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ツインレーキ</p>
                  <p class="c-card__id">TGR7310</p>
                  <p class="c-card__manufacturer">スター</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ日高中部</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ブルーヒーター</p>
                  <p class="c-card__id">KBR-173</p>
                  <p class="c-card__manufacturer">サンポット</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ岩見沢</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ツインレーキ</p>
                  <p class="c-card__id">TGR7310</p>
                  <p class="c-card__manufacturer">スター</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ日高中部</p>
                </a>
              </div>
              <div class="c-pagenation">
                <a href="#" class="c-pagenation__prev">
                  <img src="/aruda/assets/images/common/ico_left_g.svg" alt="" class="u-ico" data-size="s">
                </a>
                <ul>
                  <li>
                    <a href="#" class="c-pagenation__num">
                      <span>1</span>
                    </a>
                  </li>
                  <li>
                    <span>...</span>
                  </li>
                  <li>
                    <a href="#" class="c-pagenation__num">
                      <span>5</span>
                    </a>
                  </li>
                  <li>
                    <span class="c-pagenation__num is-current">
                      <span>6</span>
                    </span>
                  </li>
                  <li>
                    <a href="#" class="c-pagenation__num">
                      <span>7</span>
                    </a>
                  </li>
                  <li>
                    <span>...</span>
                  </li>
                  <li>
                    <a href="#" class="c-pagenation__num">
                      <span>8</span>
                    </a>
                  </li>
                </ul>
                <a href="#" class="c-pagenation__next">
                  <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
                </a>
              </div>
            </div>
          </div>
      </div>
      </div>
      <div class="p-new_recommend_list-history">
        <h3 class="u-h-lv2 u-t-center">
          閲覧履歴
        </h3>
        <div class="l-grid" data-col="2">
          <a href="/" class="c-card">
            <img src="https://placehold.jp/167x125.png" alt="">
            <p class="c-card__name">ブルーヒーター</p>
            <p class="c-card__id">KBR-173</p>
            <p class="c-card__manufacturer">サンポット</p>
            <p class="c-card__price">30,000,000<span>円(税込)</span></p>
            <p class="c-card__shop">アルーダ岩見沢</p>
          </a>
          <a href="/" class="c-card">
            <img src="https://placehold.jp/167x125.png" alt="">
            <p class="c-card__name">ツインレーキ</p>
            <p class="c-card__id">TGR7310</p>
            <p class="c-card__manufacturer">スター</p>
            <p class="c-card__price">30,000,000<span>円(税込)</span></p>
            <p class="c-card__shop">アルーダ日高中部</p>
          </a>
          <a href="/" class="c-card">
            <img src="https://placehold.jp/167x125.png" alt="">
            <p class="c-card__name">ブルーヒーター</p>
            <p class="c-card__id">KBR-173</p>
            <p class="c-card__manufacturer">サンポット</p>
            <p class="c-card__price">30,000,000<span>円(税込)</span></p>
            <p class="c-card__shop">アルーダ岩見沢</p>
          </a>
          <a href="/" class="c-card">
            <img src="https://placehold.jp/167x125.png" alt="">
            <p class="c-card__name">ツインレーキ</p>
            <p class="c-card__id">TGR7310</p>
            <p class="c-card__manufacturer">スター</p>
            <p class="c-card__price">30,000,000<span>円(税込)</span></p>
            <p class="c-card__shop">アルーダ日高中部</p>
          </a>
        </div>
        <div class="c-more-block js-more-block">
          <div class="c-more-block__contents">
            <div class="l-grid" data-col="2">
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
            </div>
          </div>
          <a href="#" class="c-more-block__btn js-more-btn">さらに表示する<span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span></a>
        </div>
      </div>
    </section>


  </main>
  <%- include('../inc/footer') %>
  <%- include('../inc/fixed-menu') %>
  <%- include('../inc/menu-modal-login') %>
</body>
</html>