<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | マイページ | 常設展示場</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-show_room-list">
    <nav class="c-breadcrumbs">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><span>常設展示場</span></li>
    </ul>
    </nav>
    <section class="p-show_room-list-section">
      <h2 class="u-h-lv2 u-t-center">常設展示場</h2>
      <div class="p-show_room-list-block">
        <div class="c-tab js-tab">
          <div class="p-tab-wrap">
            <ul class="c-tab-list js-tab-list" data-col="2" data-current="0">
              <li><a href="#" class="js-tab-trigger is-current">一覧でさがす</a></li>
              <li><a href="#" class="js-tab-trigger">地図でさがす</a></li>
            </ul>
          </div>
          <div class="c-tab__contents">
            <div class="p-index-block js-tab-contents is-current">
              <div class="c-accordion js-accordion">
                <a href="#" class="c-accordion__btn js-accordion-btn">
                  道北エリア
                  <img src="/aruda/assets/images/common/ico_arrow_b.svg" alt="" class="u-ico" data-size="s">
                </a>
                <div class="c-accordion__cosntents js-accordion-contents">
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-accordion js-accordion">
                <a href="#" class="c-accordion__btn js-accordion-btn">
                  道央エリア
                  <img src="/aruda/assets/images/common/ico_arrow_b.svg" alt="" class="u-ico" data-size="s">
                </a>
                <div class="c-accordion__cosntents js-accordion-contents">
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-accordion js-accordion">
                <a href="#" class="c-accordion__btn js-accordion-btn">
                  道南エリア
                  <img src="/aruda/assets/images/common/ico_arrow_b.svg" alt="" class="u-ico" data-size="s">
                </a>
                <div class="c-accordion__cosntents js-accordion-contents">
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-accordion js-accordion">
                <a href="#" class="c-accordion__btn js-accordion-btn">
                  オホーツクエリア
                  <img src="/aruda/assets/images/common/ico_arrow_b.svg" alt="" class="u-ico" data-size="s">
                </a>
                <div class="c-accordion__cosntents js-accordion-contents">
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-accordion js-accordion">
                <a href="#" class="c-accordion__btn js-accordion-btn">
                  十勝エリア
                  <img src="/aruda/assets/images/common/ico_arrow_b.svg" alt="" class="u-ico" data-size="s">
                </a>
                <div class="c-accordion__cosntents js-accordion-contents">
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-accordion js-accordion">
                <a href="#" class="c-accordion__btn js-accordion-btn">
                  釧路・根室エリア
                  <img src="/aruda/assets/images/common/ico_arrow_b.svg" alt="" class="u-ico" data-size="s">
                </a>
                <div class="c-accordion__cosntents js-accordion-contents">
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                  <div class="c-exhibition-block">
                    <ul>
                      <li>
                        <p class="c-exhibition-block__ttl">展示場名</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">住所</p>
                        <p class="c-exhibition-block__txt">〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">電話番号</p>
                        <p class="c-exhibition-block__txt">000-0000-0000</p>
                      </li>
                      <li>
                        <p class="c-exhibition-block__sub-ttl">営業時間</p>
                        <p class="c-exhibition-block__txt">00:00〜00:00</p>
                      </li>
                    </ul>
                    <div class="u-mt-16">
                      <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="s">
                        詳細を見る
                        <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-map-block js-tab-contents">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1941140.9451388014!2d141.0682693375158!3d42.773116020160735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9f59209f6c888b%3A0x1c3cc3564fce038f!2z5YyX5rW36YGT!5e0!3m2!1sja!2sjp!4v1733203733389!5m2!1sja!2sjp" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>