<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | マイページ | お気に入り</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/mypage/favorite_machine_list/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-favorite_machine_list">
    <nav class="c-breadcrumbs">
<div class="c-breadcrumbs__contents">
        <ul>
            <li><a href="/aruda/">ホーム</a></li>
            <li><a href="/aruda/mypage/">マイページ</a></li>
            <li><span>お気に入り一覧</span></li>
        </ul>
        </div>
    </nav>
    <section class="p-favorite_machine_list-section">
      <h2 class="u-h-lv2 u-t-center">お気に入り一覧</h2>
      <div class="c-contents" data-type="mypage">
        <div class="c-contents__item">
          <%- include('../../inc/mypage-block', { current: 'favorite'}) %>
        </div>
        <div class="c-contents__item">
          <div class="p-favorite_machine_list-recommendation">
            <h3 class="u-h-lv3 u-t-center">お気に入りの中古農機</h3>
            <div class="l-grid" data-col="2">
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
            </div>
            <!-- <div class="u-mt-40">
              <a href="/" class="c-btn u-m-center" data-type="solid-icon-right" data-size="l">
                一覧を見る
                <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
              </a>
            </div> -->
          </div>


        </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>