<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | パスワードの再発行申請</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/password/email/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-email">
    <nav class="c-breadcrumbs">
      <div class="c-breadcrumbs__contents">
        <ul>
          <li><a href="/aruda/">ホーム</a></li>
          <li><a href="/aruda/password/">常設展示場</a></li>
          <li><span>パスワードの再発行申請</span></li>
        </ul>
      </div>
    </nav>
    <section class="p-email-section">
      <h2 class="u-h-lv2 u-t-center">パスワードの再発行申請</h2>
      <div class="p-email-block">
      </div>
    </section>
  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>