<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | 中古農機をさがす</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../../inc/ogp') %>
  <%- include('../../../inc/meta') %>
</head>
<body>
  <%- include('../../../inc/header') %>
  <main class="l-main p-machine-search-result">
    <nav class="c-breadcrumbs">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><span>中古農機を絞り込む</span></li>
      </ul>
    </nav>
    <section class="p-machine-search-result-section">
      <h2 class="u-h-lv2 u-t-center">中古農機をさがす</h2>
      <div class="p-machine-search-result-contents">
          <div class="p-machine-search-result-block">
            <ul>
              <li>
                <p class="p-machine-search-result-block__ttl">機種</p>
                <p class="p-machine-search-result-block__txt">機種名</p>
              </li>
              <li>
                <p class="p-machine-search-result-block__ttl">機械</p>
                <p class="p-machine-search-result-block__txt">機械名</p>
              </li>
              <li>
                <p class="p-machine-search-result-block__ttl">銘柄</p>
                <p class="p-machine-search-result-block__txt">銘柄名</p>
              </li>
              <li>
                <p class="p-machine-search-result-block__ttl">エリア・展示場</p>
                <p class="p-machine-search-result-block__txt">エリア・展示場名</p>
              </li>
              <li>
                <p class="p-machine-search-result-block__ttl">キーワード</p>
                <p class="p-machine-search-result-block__txt">指定なし</p>
              </li>
              <li>
                <p class="p-machine-search-result-block__ttl">価格帯</p>
                <p class="p-machine-search-result-block__txt">000,000円～上限なし</p>
              </li>
              <li>
                <p class="p-machine-search-result-block__ttl">その他条件</p>
                <p class="p-machine-search-result-block__txt">指定なし</p>
              </li>
            </ul>
          </div>

          <div class="c-more-block js-more-block">
            <div class="c-more-block__contents">
              <%- include('../../../inc/detail-search') %>
            </div>
            <a href="#" class="c-more-block__btn js-more-btn"><span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span>絞り込みの検索条件を表示する</a>
          </div>

          <div class="u-mt-20">
            <button class="c-btn u-m-center" data-size="l">
              検索条件の保存
            </button>
          </div>
          <div class="u-mt-20">
            <a href="/aruda/machine/search/" class="c-btn--reset u-m-center" data-size="l">
              検索条件をリセット 
            </a>
          </div>

          <div class="c-search-result-block">
              <p class="c-search-result-block__num">検索結果：0000件</p>
              <ul class="c-search-result-block__menu">
                <li>
                  <p>表示件数</p>
                  <div class="c-form__select">
                    <select name="">
                      <option value="" disabled selected>00件</option>
                      <option value="1">ダミー</option>
                      <option value="2">ダミー</option>
                      <option value="3">ダミー</option>
                    </select>
                  </div>
                </li>
                <li>
                  <p>並び替え</p>
                  <div class="c-form__select">
                    <select name="">
                      <option value="" disabled selected>更新日順</option>
                      <option value="1">ダミー</option>
                      <option value="2">ダミー</option>
                      <option value="3">ダミー</option>
                    </select>
                  </div>
                </li>
                <li>
                  <a href="#grid" class="c-search-result-block__grid-btn js-display-toggle">
                    <span></span>
                  </a>
                </li>
                <li>
                  <a href="#list" class="c-search-result-block__list-btn js-display-toggle is-active">
                    <span></span>
                    <span></span>
                    <span></span>
                  </a>
                </li>
              </ul>
              <div class="c-search-result-block__contents js-display-contents">
                <div class="c-search-result-block__display" id="grid">
                  <div class="l-grid" data-col="2">
                    <a href="/" class="c-card">
                      <img src="https://placehold.jp/167x125.png" alt="">
                      <p class="c-card__name">ブルーヒーター</p>
                      <p class="c-card__id">KBR-173</p>
                      <p class="c-card__manufacturer">サンポット</p>
                      <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                      <p class="c-card__shop">アルーダ岩見沢</p>
                    </a>
                    <a href="/" class="c-card">
                      <img src="https://placehold.jp/167x125.png" alt="">
                      <p class="c-card__name">ツインレーキ</p>
                      <p class="c-card__id">TGR7310</p>
                      <p class="c-card__manufacturer">スター</p>
                      <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                      <p class="c-card__shop">アルーダ日高中部</p>
                    </a>
                    <a href="/" class="c-card">
                      <img src="https://placehold.jp/167x125.png" alt="">
                      <p class="c-card__name">ツインレーキ</p>
                      <p class="c-card__id">TGR7310</p>
                      <p class="c-card__manufacturer">スター</p>
                      <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                      <p class="c-card__shop">アルーダ日高中部</p>
                    </a>
                    <a href="/" class="c-card">
                      <img src="https://placehold.jp/167x125.png" alt="">
                      <p class="c-card__name">ブルーヒーター</p>
                      <p class="c-card__id">KBR-173</p>
                      <p class="c-card__manufacturer">サンポット</p>
                      <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                      <p class="c-card__shop">アルーダ岩見沢</p>
                    </a>
                    <a href="/" class="c-card">
                      <img src="https://placehold.jp/167x125.png" alt="">
                      <p class="c-card__name">ブルーヒーター</p>
                      <p class="c-card__id">KBR-173</p>
                      <p class="c-card__manufacturer">サンポット</p>
                      <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                      <p class="c-card__shop">アルーダ岩見沢</p>
                    </a>
                    <a href="/" class="c-card">
                      <img src="https://placehold.jp/167x125.png" alt="">
                      <p class="c-card__name">ツインレーキ</p>
                      <p class="c-card__id">TGR7310</p>
                      <p class="c-card__manufacturer">スター</p>
                      <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                      <p class="c-card__shop">アルーダ日高中部</p>
                    </a>
                  </div>
                </div>
                <div class="c-search-result-block__display is-active" id="list">
                  <div class="c-table">
                    <table>
                        <thead>
                            <tr>
                                <th>銘柄・機械名・型式</th>
                                <th>税込価格</th>
                                <th>掲載状況</th>
                                <th>展示場</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                  <p class="u-manufacturer">サンポット</p>
                                  <p>ブルーヒーター</p>
                                  <p class="u-model-number">KBR-173</p>
                                </td>
                                <td><p class="u-price">99,999,999<span>円</span></p></td>
                                <td>展示会<br>準備中</td>
                                <td>アルーダ<br>オロロン羽幌</td>
                            </tr>
                            <tr>
                              <td>
                                <p class="u-manufacturer">ホンダ</p>
                                <p>除雪機</p>
                                <p class="u-model-number">HS980</p>
                              </td>
                              <td><p class="u-price">253,000<span>円</span></p></td>
                              <td>公開中</td>
                              <td>アルーダ<br>旭川</td>
                          </tr>
                          <tr>
                            <td>
                              <p class="u-manufacturer">ニプロ</p>
                              <p>深耕アッパーロータリー</p>
                              <p class="u-model-number">HS980</p>
                            </td>
                            <td><p class="u-price">1,540,000<span>円</span></p></td>
                            <td>展示会中</td>
                            <td>アルーダ<br>函館</td>
                        </tr>
                        <tr>
                          <td>
                            <p class="u-manufacturer">ニプロ</p>
                            <p>深耕アッパーロータリー</p>
                            <p class="u-model-number">HS980</p>
                          </td>
                          <td><p class="u-price">1,540,000<span>円</span></p></td>
                          <td>展示会中</td>
                          <td>アルーダ<br>函館</td>
                      </tr>
                      <tr>
                        <td>
                          <p class="u-manufacturer">ニプロ</p>
                          <p>深耕アッパーロータリー</p>
                          <p class="u-model-number">HS980</p>
                        </td>
                        <td><p class="u-price">1,540,000<span>円</span></p></td>
                        <td>展示会中</td>
                        <td>アルーダ<br>函館</td>
                    </tr>
                    <tr>
                      <td>
                        <p class="u-manufacturer">ニプロ</p>
                        <p>深耕アッパーロータリー</p>
                        <p class="u-model-number">HS980</p>
                      </td>
                      <td><p class="u-price">1,540,000<span>円</span></p></td>
                      <td>展示会中</td>
                      <td>アルーダ<br>函館</td>
                  </tr>
                        </tbody>
                    </table>
                </div>
                </div>
              </div>



          </div>
      </div>
    </section>
    <aside class="p-top-bnr">
      <a href="https://www.hokuren.or.jp/" class="c-bnr"><img src="/aruda/assets/images/top/bnr_01.png" alt=""></a>
      <a href="http://www.hokuren-ss.jp/" class="c-bnr"><img src="/aruda/assets/images/top/bnr_02.png" alt=""></a>
      <a href="https://www.hokuren.or.jp/kouho/ap/" class="c-bnr"><img src="/aruda/assets/images/top/bnr_03.png" alt=""></a>
    </aside>
  </main>
  <%- include('../../../inc/footer') %>
  <%- include('../../../inc/fixed-menu') %>
  <%- include('../../../inc/menu-modal') %>
  <%- include('../../../inc/membership-modal') %>
</body>
</html>