<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | マイページ | 会員情報の編集</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/mypage/customer/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-customer">
    <nav class="c-breadcrumbs">
<div class="c-breadcrumbs__contents">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><a href="/aruda/mypage/">マイページ</a></li>
        <li><span>会員情報の編集</span></li>
    </ul>
    </div>
    </nav>
    <section class="p-customer-section">
      <h2 class="u-h-lv2 u-t-center">会員情報の編集</h2>
      <div class="c-contents" data-type="mypage">
        <div class="c-contents__item">
           <%- include('../../inc/mypage-block') %>
        </div>
        <div class="c-contents__item">

            <div class="p-customer-form">
              <form method="post" action="/aruda/mypage/customer/confirm_modification/" class="c-form">
                <h3 class="u-h-lv3 u-t-center">会員情報の編集</h3>
                <p class="u-f-14">メールやLINEでお知らせを受け取ることができます。変更は<a href="" class="u-link">こちら</a>。</p>
                <p class="u-f-notes">※LINE通知設定はLINE連携をする必要がございます</p>
                <p class="u-f-alert">*は必須項目です</p>
                  <p class="c-form__ttl">お名前<span class="u-f-required">*</span></p>
                  <ul class="c-form__list" data-col="2">
                    <li>
                      <label>
                        <p class="c-form__subttl">姓</p>
                        <input type="text" name="" value="" class="c-form__text">
                      </label>
                    </li>
                    <li>
                      <label>
                        <p class="c-form__subttl">名</p>
                        <input type="text" name="" value="" class="c-form__text">
                      </label>
                    </li>
                  </ul>
                  <p class="c-form__ttl u-mt-32">お名前（フリガナ）<span class="u-f-required">*</span></p>
                  <ul class="c-form__list" data-col="2">
                    <li>
                      <label>
                        <p class="c-form__subttl">セイ</p>
                        <input type="text" name="" value="" class="c-form__text">
                      </label>
                    </li>
                    <li>
                      <label>
                        <p class="c-form__subttl">メイ</p>
                        <input type="text" name="" value="" class="c-form__text">
                      </label>
                    </li>
                  </ul>
                  <p class="c-form__ttl u-mt-32">生年月日<span class="u-f-required">*</span></p>
                  <ul class="c-form__list" data-type="date">
                    <li>
                      <label>
                        <div class="c-form__select">
                          <select name="">
                            <option value="" selected></option>
                            <option value="1">ダミー</option>
                            <option value="2">ダミー</option>
                            <option value="3">ダミー</option>
                          </select>
                        </div>
                        <p class="c-form__subttl">年</p>
                      </label>
                    </li>
                    <li>
                      <label>
                        <div class="c-form__select">
                          <select name="">
                            <option value="" selected></option>
                            <option value="1">ダミー</option>
                            <option value="2">ダミー</option>
                            <option value="3">ダミー</option>
                          </select>
                        </div>
                        <p class="c-form__subttl">月</p>
                      </label>
                    </li>
                    <li>
                      <label>
                        <div class="c-form__select">
                          <select name="">
                            <option value="" selected></option>
                            <option value="1">ダミー</option>
                            <option value="2">ダミー</option>
                            <option value="3">ダミー</option>
                          </select>
                        </div>
                        <p class="c-form__subttl">日</p>
                      </label>
                    </li>
                  </ul>

                  <p class="c-form__ttl u-mt-32">組合員区分<span class="u-f-required">*</span></p>
                  <ul class="c-form__list js-kubun" data-type="kubun">
                    <li class="js-kubun-item">
                      <label class="c-form__radio">
                        <input type="radio" name="group1" value="1"><span>道内農協組合員です</span>
                      </label>
                      <p class="c-form__subttl">ホクレン支所・農協:</p>
                      <div class="js-interlocking-select">
                        <div class="c-form__select">
                          <select name="" class="js-parent-select">
                            <option value="" selected>選択してください</option>
                            <option value="1">ダミー</option>
                            <option value="2">ダミー</option>
                            <option value="3">ダミー</option>
                          </select>
                        </div>
                        <div class="c-form__select">
                          <select name="" class="js-child-select" disabled>
                            <option value="" selected></option>
                            <option value="1">ダミー</option>
                            <option value="2">ダミー</option>
                            <option value="3">ダミー</option>
                          </select>
                        </div>
                      </div>
                    </li>
                    <li class="js-kubun-item">
                      <label class="c-form__radio">
                        <input type="radio" name="group1" value="2"><span>農協組合員ではありません</span>
                      </label>
                    </li>
                  </ul>

                  <p class="c-form__ttl u-mt-32">ご住所<span class="u-f-required">*</span></p>
                  <label>
                    <p class="c-form__subttl">郵便番号</p>
                    <ul class="c-form__list" data-type="zip-code">
                      <li>
                        <input type="number" name="" value="" class="c-form__text">
                      </li>
                      <li>
                        <input type="number" name="" value="" class="c-form__text">
                      </li>
                    </ul>
                  </label>
                  <label>
                    <p class="c-form__subttl">都道府県</p>
                    <div class="c-form__select">
                      <select name="">
                        <option value="" selected>選択してください</option>
                        <option value="1">ダミー</option>
                        <option value="2">ダミー</option>
                        <option value="3">ダミー</option>
                      </select>
                    </div>
                  </label>
                  <label>
                    <p class="c-form__subttl">市区町村・番地</p>
                    <input type="text" name="" value="" class="c-form__text">
                  </label>
                  <label>
                    <p class="c-form__subttl">アパート・マンション名</p>
                    <input type="text" name="" value="" class="c-form__text">
                  </label>

                  <p class="c-form__ttl u-mt-32">電話番号（いずれかご入力ください）<span class="u-f-required">*</span></p>
                  <label>
                    <p class="c-form__subttl">ご自宅</p>
                    <input type="tel" name="" value="" class="c-form__text">
                  </label>
                  <label>
                    <p class="c-form__subttl">携帯電話</p>
                    <input type="tel" name="" value="" class="c-form__text">
                  </label>

                  <label>
                    <p class="c-form__ttl u-mt-32">ログインID（メールアドレス）<span class="u-f-required">*</span></p>
                    <input type="email" name="" value="" class="c-form__text">
                  </label>
                  <label>
                    <p class="c-form__subttl">確認のためもう一度ご入力ください。</p>
                    <input type="email" name="" value="" class="c-form__text">
                  </label>
                  <label>
                    <p class="c-form__ttl u-mt-32">ログインパスワード<span class="u-f-required">*</span></p>
                    <input type="password" name="" value="" class="c-form__text">
                    <p class="u-f-notes">※8桁以上、英・数字両方含む</p>
                  </label>
                  <label>
                    <p class="c-form__subttl">確認のためもう一度ご入力ください。</p>
                    <input type="password" name="" value="" class="c-form__text">
                  </label>

                  <div class="js-interlocking-select">
                    <label>
                    <p class="c-form__subttl">エリア</p>
                    <div class="c-form__select">
                      <select name="" class="js-parent-select">
                        <option value="" selected>選択してください</option>
                        <option value="1">ダミー</option>
                        <option value="2">ダミー</option>
                        <option value="3">ダミー</option>
                      </select>
                    </div>
                    </label>
                    <label>
                    <p class="c-form__subttl">展示場</p>
                    <div class="c-form__select">
                      <select name="" class="js-child-select" disabled>
                        <option value="" selected></option>
                        <option value="1">ダミー</option>
                        <option value="2">ダミー</option>
                        <option value="3">ダミー</option>
                      </select>
                    </div>
                    </label>
                  </div>

                  <p class="c-form__ttl u-mt-32">通知設定</p>
                  <ul class="c-form__list" data-col="2">
                    <li>
                        <label class="c-form__checkBox" data-type="normal"><input type="checkbox"><span>メール</span></label>
                    </li>
                    <li>
                        <label class="c-form__checkBox" data-type="normal"><input type="checkbox"><span>LINE</span></label>
                      </li>
                  </ul>
                  
                  <div class="u-mt-40">
                    <button class="c-btn u-m-center" data-type="solid-icon-right" data-size="l">
                      確認
                      <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                    </button>
                  </div>
              </form>
            </div>

            <div class="p-customer-btn">
              <button class="c-btn u-m-center" data-type="delete" data-size="l">
                利用登録削除
                <img src="/aruda/assets/images/common/ico_right_r.svg" alt="" class="u-ico" data-size="s">
              </button>
            </div>


        </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>