<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | 展示場からのお知らせ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../../inc/ogp') %>
  <%- include('../../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/show_room_notification/detail/_page.css">
</head>
<body>
  <%- include('../../../inc/header') %>
  <main class="l-main p-show_room_notification-detail">
    <nav class="c-breadcrumbs">
<div class="c-breadcrumbs__contents">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><a href="/aruda/show_room_notification/list/">展示場からのお知らせ一覧</a></li>
        <li><span>○○○○○○○○</span></li>
    </ul>
    </div>
    </nav>
    <section class="p-show_room_notification-detail-section">
      <div class="p-show_room_notification-detail-block">
        <div class="c-info" data-type="detail">
          <div class="c-info__contents">
            <div class="c-info__head">
              <p class="c-info__date">2000.00.00</p>
              <ul class="c-tag-list">
                <li class="c-tag">お知らせ</li>
                <li class="c-tag">フェア</li>
                <li class="c-tag">キャンペーン</li>
              </ul>
            </div>
            <h2 class="c-info__ttl">アルーダ士別</h2>
            <div class="c-info__img">
              <img src="https://placehold.jp/311x176.png" alt="">
            </div>
            <div class="c-info__txt">
              <p class="u-f-bold">冬季格納について</p>
              <p>いつもアルーダ士別をご利用いただきありがとうございます。<br>
                当展示場は豪雪地帯のため、現在掲載されている中古機械は冬季格納いたしますので<br>
                ４月初旬までお持ち帰りできない機械がございますのでご了承ください。<br>
                お問い合わせにつきましては電話またはメールにて承ります。<br>
                アルーダ士別担当　　吉野、前川まで</p>
            </div>
          </div>
        </div>
        <div class="c-exhibition-hall">
          <p class="u-h-lv4 u-t-center">お問い合わせ</p>
            <div class="c-exhibition-hall-contact">
              <p class="c-exhibition-hall-contact__ttl">展示場名</p>
              <p class="c-exhibition-hall-contact__info">〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
              <div class="c-exhibition-hall-contact__contact">
                <ul class="l-grid" data-col="2">
                  <li>
                    <a href="" class="c-btn" data-type="solid-icon-left" data-size="s">
                      <img src="/aruda/assets/images/common/ico_phone_w.svg" alt="" class="u-ico" data-size="s">
                      電話
                    </a>
                  </li>
                  <li>
                    <a href="" class="c-btn" data-type="solid-icon-left" data-size="s">
                      <img src="/aruda/assets/images/common/ico_mail_w.svg" alt="" class="u-ico" data-size="s">
                      メール
                    </a>
                  </li>
                </ul>
              </div>
            </div>
        </div>
          <a href="/" class="c-btn u-m-center" data-type="icon-left" data-size="l">
            <img src="/aruda/assets/images/common/ico_left_g.svg" alt="" class="u-ico" data-size="s">
            一覧に戻る
          </a>


      </div>

  </section>

  </main>
  <%- include('../../../inc/footer') %>
  <%- include('../../../inc/fixed-menu') %>
  <%- include('../../../inc/menu-modal') %>
  <%- include('../../../inc/membership-modal') %>
</body>
</html>