<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>アカウント連携 | 中古農機情報サイト アルーダ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/auth/account/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-account">
    <nav class="c-breadcrumbs">
        <ul>
            <li><a href="/">ホーム</a></li>
            <li><span>アカウント連携</span></li>
        </ul>
    </nav>
    <section class="p-account-section">
      <h2 class="u-h-lv2 u-t-center">アカウント連携</h2>
        <div class="p-account-contents"> 
            <p class="u-fs-16 u-mb-32">このLINEアカウントはアルーダ会員情報と連携されておりません。<br>
                連携するには以下のボタンよりお進みください。</p>
            <form action="/aruda/auth/login" method="POST" class="c-form">
                <p class="u-h-lv4 u-t-center">利用登録がお済みの方</p>
                <button class="c-btn u-m-center u-mt-32" data-type="solid-icon-right" data-size="l">
                    ログイン
                    <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                </button>

                <p class="u-h-lv4 u-t-center">はじめてご利用の方</p>
                <a href="/aruda/newcustomer" class="c-btn u-mt-32 u-m-center" data-type="icon-right" data-size="l">
                    新規登録
                    <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
                </a>
            </form>
        </div>
    </section>
  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>