<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>EJS</title>
  <meta name="description" content="description">
  <%- include('./inc/ogp') %>
  <%- include('./inc/meta') %>
</head>
<body>
  <%- include('./inc/header-login') %>
  <main class="l-main p-top">
    <section class="p-top-info">
      <h2 class="u-h-lv4 u-t-center">お知らせ</h2>
      <div class="c-tab">
          <ul class="c-tab-list" data-col="3" data-current="1">
            <li><a href="#" class="is-current">重要</a></li>
            <li><a href="#">アルーダ</a></li>
            <li><a href="#">展示場</a></li>
          </ul>
      </div>
    </section>
  </main>
  <%- include('./inc/footer') %>
  <%- include('./inc/fixed-menu') %>
  <%- include('./inc/menu-modal-login.ejs') %>
</body>
</html>