<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>EJS</title>
  <meta name="description" content="description">
  <%- include('./inc/ogp') %>
  <%- include('./inc/meta') %>
</head>
<body>
  <%- include('./inc/header-login') %>
  <main class="l-main p-top">
    <section class="p-top-info">
      <h2 class="u-h-lv4 u-t-center">お知らせ</h2>
      <div class="c-tab js-tab">
          <ul class="c-tab-list js-tab-list" data-col="3" data-current="0">
            <li><a href="#" class="js-tab-trigger is-current">重要</a></li>
            <li><a href="#" class="js-tab-trigger">アルーダ</a></li>
            <li><a href="#" class="js-tab-trigger">展示場</a></li>
          </ul>
          <div class="c-tab__contents">
            <div class="c-alert-block js-tab-contents is-current">
              <div class="c-more-block js-more-block">
                <div class="c-more-block__contents">
                  <p class="c-alert-block__ttl">＜アルーダべつかい感謝フェアの開催日程変更について＞</p>
                  <p class="c-alert-block__txt">いつもアルーダをご愛顧いただき誠にありがとうございます。アルーダべつかい感謝フェアの開催日程を下記のとおり変更させていただきます。</p>
                  <p class="c-alert-block__txt">大変ご迷惑をおかけしますが、何卒ご理解を賜りますようお願い申し上げます。詳しくは「展示場からのお知らせ」をご覧ください。</p>
                  <p class="c-alert-block__txt">〇開催日程（変更後）：１０月２４日（木）　10:00～15:00</p>
                </div>
                <a href="#" class="c-more-block__btn js-more-btn">詳細を見る<span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span></a>
              </div>
            </div>
            <div class="c-info-block js-tab-contents">
              <div class="c-more-block js-more-block">
                <div class="c-more-block__contents">
                    <a href="" class="c-info-block__item">
                      <div class="c-info-block__head">
                        <span class="c-info-block__date">2000.00.00</span>
                        <ul class="c-tag-list">
                          <li><span class="c-tag">お知らせ</span></li>
                          <li><span class="c-tag">イベント</span></li>
                        </ul>
                      </div>
                      <div class="u-f-bold u-fs-14">ホームページが正しく表示されない場合は？</div>
                    </a>
                    <a href="" class="c-info-block__item">
                      <div class="c-info-block__head">
                        <span class="c-info-block__date">2000.00.00</span>
                        <ul class="c-tag-list">
                          <li><span class="c-tag">お知らせ</span></li>
                          <li><span class="c-tag">イベント</span></li>
                        </ul>
                      </div>
                      <div class="u-f-bold u-fs-14">ホームページが正しく表示されない場合は？ホームページが正しく表示されない場合は？ホームページが正しく表示されない場合は？</div>
                    </a>
                    <a href="" class="c-info-block__item">
                      <div class="c-info-block__head">
                        <span class="c-info-block__date">2000.00.00</span>
                        <ul class="c-tag-list">
                          <li><span class="c-tag">お知らせ</span></li>
                          <li><span class="c-tag">イベント</span></li>
                        </ul>
                      </div>
                      <div class="u-f-bold u-fs-14">ホームページが正しく表示されない場合は？</div>
                    </a>
                </div>
                <a href="#" class="c-more-block__btn js-more-btn">詳細を見る<span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span></a>
              </div>
            </div>
            <div class="c-info-block js-tab-contents">
              <div class="c-more-block js-more-block">
                <div class="c-more-block__contents">
                  内容わからない
                </div>
                <a href="#" class="c-more-block__btn js-more-btn">詳細を見る<span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span></a>
              </div>
            </div>
          </div>



      </div>
    </section>
  </main>
  <%- include('./inc/footer') %>
  <%- include('./inc/fixed-menu') %>
  <%- include('./inc/menu-modal-login.ejs') %>
</body>
</html>