<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>EJS</title>
  <meta name="description" content="description">
  <%- include('./inc/ogp') %>
  <%- include('./inc/meta') %>
</head>
<body>
  <%- include('./inc/header-login') %>
  <main class="l-main p-top">
    <section class="p-top-info">
      <h2 class="u-h-lv4 u-t-center">お知らせ</h2>
      <div class="c-tab js-tab">
          <ul class="c-tab-list js-tab-list" data-col="3" data-current="0">
            <li><a href="#" class="js-tab-trigger is-current">重要</a></li>
            <li><a href="#" class="js-tab-trigger">アルーダ</a></li>
            <li><a href="#" class="js-tab-trigger">展示場</a></li>
          </ul>
          <div class="c-tab__contents">
            <div class="c-alert-block js-tab-contents is-current">
              <div class="c-more-block js-more-block">
                <div class="c-more-block__contents">
                  <p class="c-alert-block__ttl">＜アルーダべつかい感謝フェアの開催日程変更について＞</p>
                  <p class="c-alert-block__txt">いつもアルーダをご愛顧いただき誠にありがとうございます。アルーダべつかい感謝フェアの開催日程を下記のとおり変更させていただきます。</p>
                  <p class="c-alert-block__txt">大変ご迷惑をおかけしますが、何卒ご理解を賜りますようお願い申し上げます。詳しくは「展示場からのお知らせ」をご覧ください。</p>
                  <p class="c-alert-block__txt">〇開催日程（変更後）：１０月２４日（木）　10:00～15:00</p>
                </div>
                <a href="#" class="c-more-block__btn js-more-btn">詳細を見る<span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span></a>
              </div>
            </div>
            <div class="c-info-block js-tab-contents">
              <div class="c-more-block js-more-block">
                <div class="c-more-block__contents">
                    <a href="" class="c-info-block__item">
                      <div class="c-info-block__head">
                        <span class="c-info-block__date">2000.00.00</span>
                        <ul class="c-tag-list">
                          <li><span class="c-tag">お知らせ</span></li>
                          <li><span class="c-tag">イベント</span></li>
                        </ul>
                      </div>
                      <div class="u-f-bold u-fs-14">ホームページが正しく表示されない場合は？</div>
                    </a>
                    <a href="" class="c-info-block__item">
                      <div class="c-info-block__head">
                        <span class="c-info-block__date">2000.00.00</span>
                        <ul class="c-tag-list">
                          <li><span class="c-tag">イベント</span></li>
                          <li><span class="c-tag">キャンペーン</span></li>
                        </ul>
                      </div>
                      <div class="u-f-bold u-fs-14">ホームページが正しく表示されない場合は？ホームページが正しく表示されない場合は？ホームページが正しく表示されない場合は？</div>
                    </a>
                    <a href="" class="c-info-block__item">
                      <div class="c-info-block__head">
                        <span class="c-info-block__date">2000.00.00</span>
                        <ul class="c-tag-list">
                          <li><span class="c-tag">イベント</span></li>
                          <li><span class="c-tag">キャンペーン</span></li>
                        </ul>
                      </div>
                      <div class="u-f-bold u-fs-14">ホームページが正しく表示されない場合は？</div>
                    </a>
                </div>
                <a href="#" class="c-more-block__btn js-more-btn">詳細を見る<span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span></a>
              </div>
            </div>
            <div class="c-info-block js-tab-contents">
              <div class="c-more-block js-more-block">
                <div class="c-more-block__contents">
                  内容わからない
                </div>
                <a href="#" class="c-more-block__btn js-more-btn">詳細を見る<span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span></a>
              </div>
            </div>
          </div>



      </div>

<!-- TODO:重要なお知らせがない場合-->
      <div class="c-tab js-tab">
        <ul class="c-tab-list js-tab-list" data-col="2" data-current="0">
          <li><a href="#" class="js-tab-trigger is-current">アルーダ</a></li>
          <li><a href="#" class="js-tab-trigger">展示場</a></li>
        </ul>
        <div class="c-tab__contents">
          <div class="c-info-block js-tab-contents is-current">
            <div class="c-more-block js-more-block">
              <div class="c-more-block__contents">
                  <a href="" class="c-info-block__item">
                    <div class="c-info-block__head">
                      <span class="c-info-block__date">2000.00.00</span>
                      <ul class="c-tag-list">
                        <li><span class="c-tag">お知らせ</span></li>
                        <li><span class="c-tag">イベント</span></li>
                      </ul>
                    </div>
                    <div class="u-f-bold u-fs-14">ホームページが正しく表示されない場合は？</div>
                  </a>
                  <a href="" class="c-info-block__item">
                    <div class="c-info-block__head">
                      <span class="c-info-block__date">2000.00.00</span>
                      <ul class="c-tag-list">
                        <li><span class="c-tag">イベント</span></li>
                        <li><span class="c-tag">キャンペーン</span></li>
                      </ul>
                    </div>
                    <div class="u-f-bold u-fs-14">ホームページが正しく表示されない場合は？ホームページが正しく表示されない場合は？ホームページが正しく表示されない場合は？</div>
                  </a>
                  <a href="" class="c-info-block__item">
                    <div class="c-info-block__head">
                      <span class="c-info-block__date">2000.00.00</span>
                      <ul class="c-tag-list">
                        <li><span class="c-tag">イベント</span></li>
                        <li><span class="c-tag">キャンペーン</span></li>
                      </ul>
                    </div>
                    <div class="u-f-bold u-fs-14">ホームページが正しく表示されない場合は？</div>
                  </a>
              </div>
              <a href="#" class="c-more-block__btn js-more-btn">詳細を見る<span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span></a>
            </div>
          </div>
          <div class="c-info-block js-tab-contents">
            <div class="c-more-block js-more-block">
              <div class="c-more-block__contents">
                内容わからない
              </div>
              <a href="#" class="c-more-block__btn js-more-btn">詳細を見る<span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span></a>
            </div>
          </div>
        </div>
    </div>
    </section>
    <section class="p-top-search">
      <h2 class="u-h-lv2 u-t-center">
        <img src="/aruda/assets/images/common/ico_search.svg" alt="かんたん検索" class="u-ico">かんたん検索
      </h2>
      <form action="/aruda/" method="get" class="c-form">
        <input type="text" value="" name="" class="c-form__text" placeholder="フリーワードで検索">
        <label>
          <div class="c-form__ttl">
            <img src="/aruda/assets/images/common/ico_machinery.svg" alt="農機" class="u-ico">機種
          </div>
          <div class="c-form__select">
            <select name="">
              <option value="" disabled selected>選択してください</option>
              <option value="1">ダミー</option>
              <option value="2">ダミー</option>
              <option value="3">ダミー</option>
            </select>
          </div>
        </label>
        <label>
          <div class="c-form__ttl">
            <img src="/aruda/assets/images/common/ico_region.svg" alt="地域" class="u-ico">地域
          </div>
          <div class="c-form__select">
            <select name="">
              <option value="" disabled selected>選択してください</option>
              <option value="1">ダミー</option>
              <option value="2">ダミー</option>
              <option value="3">ダミー</option>
            </select>
          </div>
        </label>
        <label>
          <div class="c-form__ttl">
            <img src="/aruda/assets/images/common/ico_budget.svg" alt="予算" class="u-ico">予算
          </div>
          <div class="c-form__budget">
            <div>
              <input type="number" value="" name="" class="c-form__text">
            </div>
            <span>円</span>
            <span>〜</span>
            <div>
              <input type="number" value="" name="" class="c-form__text">
            </div>
            <span>円</span>
          </div>
        </label>
        <div class="c-form__submit">
          <button class="c-btn" data-type="solid-icon" data-size="l">
            <img src="/aruda/assets/images/common/ico_search_w.svg" alt="" class="u-ico" data-size="s">
            かんたん検索
            <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
          </button>
        </div>
      </form>
    </section>
    <section class="p-top-machinery">
      <h2 class="u-h-lv2 u-t-center">
        <img src="/aruda/assets/images/common/ico_machinery.svg" alt="かんたん検索" class="u-ico">掲載農機
      </h2>
      <div class="c-tab js-tab">
        <ul class="c-tab-list js-tab-list" data-col="2" data-current="0">
          <li><a href="#" class="js-tab-trigger is-current">新着</a></li>
          <li><a href="#" class="js-tab-trigger">おすすめ</a></li>
        </ul>
        <div class="c-tab__contents">
          <div class="c-card-block js-tab-contents is-current">
              <div class="l-grid" data-col="2">
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ブルーヒーター</p>
                  <p class="c-card__id">KBR-173</p>
                  <p class="c-card__manufacturer">サンポット</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ岩見沢</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ツインレーキ</p>
                  <p class="c-card__id">TGR7310</p>
                  <p class="c-card__manufacturer">スター</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ日高中部</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ツインレーキ</p>
                  <p class="c-card__id">TGR7310</p>
                  <p class="c-card__manufacturer">スター</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ日高中部</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ブルーヒーター</p>
                  <p class="c-card__id">KBR-173</p>
                  <p class="c-card__manufacturer">サンポット</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ岩見沢</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ブルーヒーター</p>
                  <p class="c-card__id">KBR-173</p>
                  <p class="c-card__manufacturer">サンポット</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ岩見沢</p>
                </a>
                <a href="/" class="c-card">
                  <img src="https://placehold.jp/167x125.png" alt="">
                  <p class="c-card__name">ツインレーキ</p>
                  <p class="c-card__id">TGR7310</p>
                  <p class="c-card__manufacturer">スター</p>
                  <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                  <p class="c-card__shop">アルーダ日高中部</p>
                </a>
              </div>
              <div class="u-mt-40">
                <a href="/" class="c-btn u-m-center" data-type="solid-icon-left" data-size="l">
                  一覧を見る
                  <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
                </a>
              </div>
              <div class="u-mt-20">
                <a href="/" class="c-btn u-m-center" data-type="icon-left" data-size="l">
                  中古トラック情報を見る
                  <img src="/aruda/assets/images/common/ico_window_g.svg" alt="" class="u-ico" data-size="s">
                </a>
              </div>
          </div>
          <div class="c-card-block js-tab-contents">
            <div class="l-grid" data-col="2">
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ブルーヒーター</p>
                <p class="c-card__id">KBR-173</p>
                <p class="c-card__manufacturer">サンポット</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ岩見沢</p>
              </a>
              <a href="/" class="c-card">
                <img src="https://placehold.jp/167x125.png" alt="">
                <p class="c-card__name">ツインレーキ</p>
                <p class="c-card__id">TGR7310</p>
                <p class="c-card__manufacturer">スター</p>
                <p class="c-card__price">30,000,000<span>円(税込)</span></p>
                <p class="c-card__shop">アルーダ日高中部</p>
              </a>
            </div>
            <div class="u-mt-40">
              <a href="/" class="c-btn u-m-center" data-type="solid-icon-left" data-size="l">
                一覧を見る
                <img src="/aruda/assets/images/common/ico_right_w.svg" alt="" class="u-ico" data-size="s">
              </a>
            </div>
            <div class="u-mt-20">
              <a href="/" class="c-btn u-m-center" data-type="icon-left" data-size="l">
                中古トラック情報を見る
                <img src="/aruda/assets/images/common/ico_window_g.svg" alt="" class="u-ico" data-size="s">
              </a>
            </div>
          </div>
        </div>
    </div>
    </section>
    <section class="p-top-history">
      <h2 class="u-h-lv2 u-t-center">
        閲覧履歴
      </h2>
      <div class="l-grid" data-col="2">
        <a href="/" class="c-card">
          <img src="https://placehold.jp/167x125.png" alt="">
          <p class="c-card__name">ブルーヒーター</p>
          <p class="c-card__id">KBR-173</p>
          <p class="c-card__manufacturer">サンポット</p>
          <p class="c-card__price">30,000,000<span>円(税込)</span></p>
          <p class="c-card__shop">アルーダ岩見沢</p>
        </a>
        <a href="/" class="c-card">
          <img src="https://placehold.jp/167x125.png" alt="">
          <p class="c-card__name">ツインレーキ</p>
          <p class="c-card__id">TGR7310</p>
          <p class="c-card__manufacturer">スター</p>
          <p class="c-card__price">30,000,000<span>円(税込)</span></p>
          <p class="c-card__shop">アルーダ日高中部</p>
        </a>
      </div>
      <div class="c-more-block js-more-block">
        <div class="c-more-block__contents">
          <div class="l-grid" data-col="2">
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ブルーヒーター</p>
              <p class="c-card__id">KBR-173</p>
              <p class="c-card__manufacturer">サンポット</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ岩見沢</p>
            </a>
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ツインレーキ</p>
              <p class="c-card__id">TGR7310</p>
              <p class="c-card__manufacturer">スター</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ日高中部</p>
            </a>
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ツインレーキ</p>
              <p class="c-card__id">TGR7310</p>
              <p class="c-card__manufacturer">スター</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ日高中部</p>
            </a>
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ブルーヒーター</p>
              <p class="c-card__id">KBR-173</p>
              <p class="c-card__manufacturer">サンポット</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ岩見沢</p>
            </a>
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ブルーヒーター</p>
              <p class="c-card__id">KBR-173</p>
              <p class="c-card__manufacturer">サンポット</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ岩見沢</p>
            </a>
            <a href="/" class="c-card">
              <img src="https://placehold.jp/167x125.png" alt="">
              <p class="c-card__name">ツインレーキ</p>
              <p class="c-card__id">TGR7310</p>
              <p class="c-card__manufacturer">スター</p>
              <p class="c-card__price">30,000,000<span>円(税込)</span></p>
              <p class="c-card__shop">アルーダ日高中部</p>
            </a>
          </div>
        </div>
        <a href="#" class="c-more-block__btn js-more-btn">さらに表示する<span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span></a>
      </div>
    </section>
  </main>
  <%- include('./inc/footer') %>
  <%- include('./inc/fixed-menu') %>
  <%- include('./inc/menu-modal-login.ejs') %>
</body>
</html>