<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | トップページ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
  <link rel="stylesheet" href="/aruda/assets/css/page/mypage/buying_info/_page.css">
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-buying_info">
    <nav class="c-breadcrumbs">
<div class="c-breadcrumbs__contents">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><a href="/aruda/mypage/">マイページ</a></li>
        <li><span>買いたい情報登録</span></li>
    </ul>
    </div>
    </nav>
    <section class="p-buying_info-section">
      <h2 class="u-h-lv2 u-t-center">買いたい情報登録</h2>
      <div class="c-contents" data-type="mypage">
        <div class="c-contents__item">
          <%- include('../../inc/mypage-block') %>
        </div>
        <div class="c-contents__item">
          <div class="p-buying_info-recommendation">
            <div class="c-keep-block">
              <p class="u-fs-14 u-mb-8">「アルーダ」にご希望の機械のなかった方、このページに情報登録してみませんか。<br>
                ご希望の条件に合った農機情報が登録された場合、メールでご連絡を差し上げます。</p>
              <div class="c-keep-block__contents">
                <dl class="c-keep-block__list">
                  <dt>機種</dt>
                  <dd>耕起整地砕土 全ての機種</dd>
                  <dt>機械</dt>
                  <dd>機械名</dd>
                  <dt>銘柄</dt>
                  <dd>アーサーリフト</dd>
                  <dt>エリア・展示場</dt>
                  <dd>アルーダ函館、アルーダ日高西部、アルーダＪＡむかわ、アルーダＪＡとうや湖</dd>
                  <dt>キーワード</dt>
                  <dd>指定なし</dd>
                  <dt>価格帯</dt>
                  <dd>100,000円～上限なし</dd>
                  <dt>その他条件</dt>
                  <dd>指定なし</dd>
                </dl>
                <a href="#" class="c-btn u-m-center" data-type="delete" data-size="s">削除</a>
              </div>
              <%- include('../../inc/detail-search') %>
              <div class="c-more-block js-more-block">
                <div class="c-more-block__contents">
                  <%- include('../../inc/add-detail-search') %>
                </div>
                <a href="#" class="c-more-block__btn js-more-btn"><span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span>絞り込みの検索条件を表示する</a>
              </div>
            </div>
          </div>

          <div class="c-mypage-btn-block">
            <div class="c-mypage-btn-block__inner">
              <h4 class="u-h-lv4 u-t-center">
                マイページ情報
              </h4>
              <a href="/aruda/mypage/mail_notification_settings/" class="c-btn u-m-center" data-type="icon-right" data-size="l">
                メール通知設定
                <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
              </a>
              <a href="/aruda/mypage/customer/" class="c-btn u-m-center" data-type="icon-right" data-size="l">
                会員情報の編集
                <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
              </a>
            </div>
          </div>
        </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>