<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>中古農機情報サイトアルーダ | トップページ</title>
  <meta name="description" content="中古農機情報サイトアルーダは、トラクター、コンバイン、田植機をはじめ、多種多様な優良中古農業機械を多数掲載！みなさまの中古農機探しを応援します!!中古農機の出品も受け付けております。お気軽にお問い合わせください。">
  <%- include('../../inc/ogp') %>
  <%- include('../../inc/meta') %>
</head>
<body>
  <%- include('../../inc/header') %>
  <main class="l-main p-buying_info">
    <nav class="c-breadcrumbs">
      <ul>
        <li><a href="/aruda/">ホーム</a></li>
        <li><a href="/aruda/mypage/">マイページ</a></li>
        <li><span>買いたい情報登録</span></li>
    </ul>
    </nav>
    <section class="p-buying_info-section">
      <h2 class="u-h-lv2 u-t-center">買いたい情報登録</h2>
      <div class="c-mypage-block">
        <div class="c-mypage-block__head">
          <p class="c-mypage-block__name">ようこそ 或田<span>さん</span></p>
        </div>
        <div class="c-mypage-block__body">
          <div class="l-grid" data-col="2">
            <a href="/aruda/mypage/buying_info/">
              <img src="/aruda/assets/images/common/ico_buy.svg" alt="" class="u-ico" data-size="l">
              <p>買いたい<span>情報登録</span></p>
            </a>
            <a href="/aruda/mypage/selling_info/">
              <img src="/aruda/assets/images/common/ico_sell.svg" alt="" class="u-ico" data-size="l">
              <p>売りたい<span>情報登録</span></p>
            </a>
          </div>
          <div class="l-grid" data-col="3">
            <a href="/aruda/mypage/favorite_machine_list/">
              <img src="/aruda/assets/images/common/ico_favorite.svg" alt="" class="u-ico u-m-center">
              <p>お気に入り一覧</p>
            </a>
            <a href="/aruda/mypage/search_condition/">
              <img src="/aruda/assets/images/common/ico_search-cond.svg" alt="" class="u-ico u-m-center">
              <p>保存した検索条件</p>
            </a>
            <a href="/aruda/mypage/notification_list/">
              <img src="/aruda/assets/images/common/ico_info.svg" alt="" class="u-ico u-m-center">
              <p>お知らせ一覧</p>
            </a>
          </div>
          <p class="c-mypage-block__edit">
            <a href="/aruda/mypage/customer/">マイページ情報の編集<span><img src="/aruda/assets/images/common/ico_down_g.svg" alt=""></span></a>
          </p>
        </div>
      </div>

      <div class="p-buying_info-recommendation">
        <div class="c-keep-block">
          <div class="c-keep-block__contents">
            <dl class="c-keep-block__list">
              <dt>機種</dt>
              <dd>耕起整地砕土 全ての機種</dd>
              <dt>機械</dt>
              <dd>機械名</dd>
              <dt>銘柄</dt>
              <dd>アーサーリフト</dd>
              <dt>エリア・展示場</dt>
              <dd>アルーダ函館、アルーダ日高西部、アルーダＪＡむかわ、アルーダＪＡとうや湖</dd>
              <dt>キーワード</dt>
              <dd>指定なし</dd>
              <dt>価格帯</dt>
              <dd>100,000円～上限なし</dd>
              <dt>その他条件</dt>
              <dd>指定なし</dd>
            </dl>
            <a href="#" class="c-btn u-m-center" data-type="delete" data-size="s">削除</a>
          </div>
          <div class="c-more-block js-more-block">
            <div class="c-more-block__contents">
              <%- include('../../inc/detail-search') %>
            </div>
            <a href="#" class="c-more-block__btn js-more-btn"><span><img src="/aruda/assets/images/common/ico_add_g.svg" alt=""></span>絞り込みの検索条件を表示する</a>
          </div>
        </div>
      </div>

      <div class="p-buying_info-btn">
        <div class="p-buying_info-btn__inner">
          <h4 class="u-h-lv4 u-t-center">
            マイページ情報
          </h4>
          <a href="/aruda/mypage/mail_notification_settings/" class="c-btn u-m-center" data-type="icon-right" data-size="l">
            メール通知設定
            <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
          </a>
          <a href="/aruda/mypage/customer/" class="c-btn u-m-center" data-type="icon-right" data-size="l">
            会員情報の編集
            <img src="/aruda/assets/images/common/ico_right_g.svg" alt="" class="u-ico" data-size="s">
          </a>
        </div>
      </div>
    </section>

  </main>
  <%- include('../../inc/footer') %>
  <%- include('../../inc/fixed-menu') %>
  <%- include('../../inc/menu-modal') %>
  <%- include('../../inc/membership-modal') %>
</body>
</html>